<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Attendance</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<script src="./js/bootstrap.min.js"></script>
	</h:head>
	<f:metadata>
		<f:viewParam name="attendanceid" value="#{attendance.attendanceId}" />
		<f:viewAction action="#{attendance.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:growl id="growl" showDetail="true" sticky="true" />
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:form id="clubForm">
					<h2>Mark Attendance</h2>
					<div>
						<div class="row">
							<div class="col-2">
								<p:outputLabel for="eventName" value="Event: " />
							</div>
							<div class="col-10">
								<h:outputText id="eventName"
									value="#{attendance.attHdr.event.eventName}" />
							</div>

							<div class="col-2">
								<p:outputLabel for="attDate" value="Date: " />
							</div>
							<div class="col-10">
								<h:outputText id="attDate"
									value="#{attendance.attHdr.attendance}">
									<f:convertDateTime pattern="dd-MM-yyyy" />
								</h:outputText>
							</div>

							<div class="col-2">
								<p:outputLabel for="status" value="Status: " />
							</div>
							<div class="col-10">
								<h:outputText id="status"
									value="#{attendance.attHdr.approved=='A'?'Approved':''}">
								</h:outputText>
							</div>
						</div>

						<div>


							<c:if test="#{attendance.attHdr.approved != 'A'}">
								<p:dataTable id="attDtlTable" var="it"
									value="#{attendance.attDtl}" rowKey="#{it.id}"
									style="margin-bottom:0">

									<p:column headerText="Member">
										<h:outputText value="#{it.member.fullname}" />
									</p:column>

									<p:column headerText="Present/Absent">
										<p:selectOneMenu id="present" value="#{it.present}"
											disabled="#{attendance.attHdr.approved=='A'?true:false}">
											<f:selectItem itemLabel="Select One" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItem itemLabel="Present" itemValue="P" />
											<f:selectItem itemLabel="Absent" itemValue="A" />
											<c:if test="#{home.role == 'PRINCIPAL'}">
												<f:selectItem itemLabel="Disagree" itemValue="D" />
											</c:if>
										</p:selectOneMenu>
									</p:column>

								</p:dataTable>
							</c:if>

							<c:if test="#{attendance.attHdr.approved == 'A'}">

								<p:toolbar>
									<f:facet name="right">
										<p:commandButton value="Generate report"
											styleClass="p-mr-2 p-mb-2" ajax="false">
											<p:dataExporter type="pdf" target="attDtlTable"
												fileName="Attendance"
												preProcessor="#{attendance.preProcessPDF}" />
										</p:commandButton>
									</f:facet>
								</p:toolbar>

								<p:dataTable id="attDtlTable" var="it"
									value="#{attendance.attDtl}" rowKey="#{it.id}"
									style="margin-bottom:0">

									<p:column headerText="Member">
										<h:outputText value="#{it.member.fullname}" />
									</p:column>

									<p:column headerText="Attendance">
										<h:outputText value="#{attendance.getAttendanceString(it)}" />
									</p:column>
								</p:dataTable>

							</c:if>

						</div>

						<c:if test="#{attendance.attHdr.approved != 'A'}">
							<div class="row">

								<c:if test="#{home.role == 'STAFF' || home.role =='ADMIN'}">
									<div class="col">
										<div>
											<div class="p-field p-col-6">
												<p:commandButton value="Save"
													action="#{attendance.saveAttendance}" icon="fa fa-skyatlas"
													ajax="false" update="growl" />
											</div>
										</div>
									</div>
								</c:if>

								<div class="col">
									<c:if test="#{home.role == 'PRINCIPAL' || home.role =='ADMIN'}">
										<div>
											<div class="p-field p-col-6">
												<p:commandButton value="Approve"
													action="#{attendance.approveAttendance}"
													icon="fa fa-skyatlas" ajax="false" update="growl" />
											</div>
										</div>
									</c:if>
								</div>

							</div>
						</c:if>

					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>