<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Attendance</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
	</h:head>
	<f:metadata>
		<f:viewAction action="#{attendancelist.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:form>
					<h2>Attendance</h2>
					<div class="card">
						<p:dataTable var="it" value="#{attendancelist.data}"
							id="dataTable">
							<p:column headerText="Event">
								<ng-template let-row="it" pTemplate="body"> <a
									href="/attendance?attendanceid=#{it.id}">#{it.event.eventName}</a>
								</ng-template>
							</p:column>

							<p:column headerText="Club">
								<h:outputText value="#{it.event.club.clubName}" />
							</p:column>

							<p:column headerText="Date">
								<h:outputText value="#{it.attendance}">
									<f:convertDateTime pattern="dd-MM-yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="Status">
								<h:outputText value="#{it.approved=='A'?'Approved':'Pending'}">

								</h:outputText>
							</p:column>

						</p:dataTable>
					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>