<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Clubs</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
	</h:head>
	<f:metadata>
		<f:viewAction action="#{clublist.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:form>
				<h2>Clubs</h2>
					<p:toolbar>
						<f:facet name="right">
							<p:inputText value="#{clublist.searchString}" />
							<p:commandButton action="#{clublist.doSearch}" icon="pi pi-check"
								ajax="true" update="dataTable" />
						</f:facet>
					</p:toolbar>
					<div class="card">
						<p:dataTable var="it" value="#{clublist.data}" id="dataTable">
							<p:column headerText="Club Name">
								<ng-template let-row="it" pTemplate="body"> <a
									href="/club?clubid=#{it.id}">#{it.clubName}</a> </ng-template>
							</p:column>

							<p:column headerText="Leader">
								<h:outputText value="#{it.leader.fullname}" />
							</p:column>

							<p:column headerText="Staff">
								<h:outputText value="#{it.staff.fullname}" />
							</p:column>
							
							<p:column headerText="Staff 2">
								<h:outputText value="#{it.staff2.fullname}" />
							</p:column>

						</p:dataTable>
					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>