<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>club</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<script src="./js/bootstrap.min.js"></script>
	</h:head>
	<f:metadata>
		<f:viewParam name="clubid" value="#{club.clubId}" />
		<f:viewAction action="#{club.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:growl id="growl" showDetail="true" sticky="true" />
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:form id="clubForm">
					<h2>
						<c:if test="#{club.clubId != 0}">Edit</c:if>
						<c:if test="#{club.clubId == 0}">Add</c:if>
						Club
					</h2>
					<div>
						<div class="ui-fluid p-formgrid p-grid">

							<p:panel>
								<div class="row">
									<div class="col">
										<p:outputLabel for="clubName" value="Club Name" />
										<p:inputText id="clubName" value="#{club.u.clubName}"
											required="true" />
									</div>

									<c:if test="#{home.role =='STAFF'}">
										<div class="col">
											<p:outputLabel for="leader" value="Leader" />
											<p:selectOneMenu id="leader" value="#{club.u.leaderId}"
												required="true" disabled="true">
												<f:selectItem itemLabel="Select One" />
												<f:selectItems value="#{club.leaders}" var="leader"
													itemLabel="#{leader.fullname}" itemValue="#{leader.id}" />
											</p:selectOneMenu>
										</div>
									</c:if>
								</div>

								<c:if test="#{home.role !='STAFF'}">
									<div class="row">
										<div class="col">
											<p:outputLabel for="staff" value="Staff 1" />
											<p:selectOneMenu id="staff" value="#{club.u.staffId}"
												required="true">
												<f:selectItem itemLabel="Select One" />
												<f:selectItems value="#{club.staffs}" var="staff"
													itemLabel="#{staff.fullname}" itemValue="#{staff.id}" />
											</p:selectOneMenu>
										</div>

										<div class="col">
											<p:outputLabel for="staff2" value="Staff 2" />
											<p:selectOneMenu id="staff2" value="#{club.u.staff2Id}">
												<f:selectItem itemLabel="Select One" />
												<f:selectItems value="#{club.staffs}" var="staff"
													itemLabel="#{staff.fullname}" itemValue="#{staff.id}" />
											</p:selectOneMenu>
										</div>
									</div>
								</c:if>

							</p:panel>


							<p:panel header="Members">
								<div>
									<p:dataTable var="it" value="#{club.members}" id="dataTable">

										<p:column headerText="Name">
											<h:outputText value="#{it.fullname}" />
										</p:column>

										<p:column headerText="Email">
											<h:outputText value="#{it.email}" />
										</p:column>

										<c:if test="#{home.role =='STAFF'}">
											<p:column headerText="">
												<p:commandButton action="#{club.makeLeader(it)}"
													value="Make Leader" ajax="true" />
											</p:column>
										</c:if>

									</p:dataTable>
								</div>
							</p:panel>

							<!-- home.role !='STAFF' &amp;&amp; -->
							<c:if test="#{home.role !='PARENT'}">
								<div class="row">
									<div class="col">
										<p:commandButton value="Save" action="#{club.saveClub}"
											icon="fa fa-skyatlas" ajax="false" update="growl"
											class="btn btn-primary" />
									</div>
									<div class="col">
										<p:commandButton value="Delete" action="#{club.deleteClub}"
											icon="fa fa-skyatlas" ajax="false" update="growl"
											class="btn btn-secondary" />
									</div>
								</div>
							</c:if>

						</div>
					</div>

				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>