<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Event</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<script src="./js/bootstrap.min.js"></script>
	</h:head>
	<f:metadata>
		<f:viewParam name="eventid" value="#{event.eventId}" />
		<f:viewAction action="#{event.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:growl id="growl" showDetail="true" sticky="true" />
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:form id="eventForm">
					<h2>
						<c:if test="#{event.eventId != 0}">Edit</c:if>
						<c:if test="#{event.eventId == 0}">Add</c:if>
						Event
					</h2>
					<div>
						<div class="ui-fluid p-formgrid p-grid">

							<div class="row">
								<div class="col">
									<p:outputLabel for="eventName" value="Event Name" />
									<p:inputText id="eventName" value="#{event.u.eventName}"
										required="true" />
								</div>

								<div class="col">
									<p:outputLabel for="eventDate" value="Event Date" />
									<p:datePicker id="eventDate" value="#{event.u.eventDate}"
										required="true" mindate="#{event.minDate}" showTime="true" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<p:outputLabel for="description" value="Details" />
									<p:inputTextarea rows="5" id="description" autoResize="true"
										value="#{event.u.description}" />
								</div>
							</div>

							<div class="row">
								<div class="col">
									<p:outputLabel for="venue" value="Venue" />
									<p:inputText id="venue" value="#{event.u.venue}"
										required="true" />
								</div>

								<div class="col">
									<p:outputLabel for="club" value="Club" />
									<p:selectOneMenu id="club" value="#{event.u.clubId}"
										required="true">
										<f:selectItem itemLabel="Select One" />
										<f:selectItems value="#{event.clubs}" var="cl"
											itemLabel="#{cl.clubName}" itemValue="#{cl.id}" />
									</p:selectOneMenu>
								</div>
							</div>

							<div class="row">
								<c:if test="#{home.role == 'LEADER' || home.role =='ADMIN'}">
									<div class="col">
										<p:commandButton value="Save" action="#{event.saveEvent}"
											icon="fa fa-skyatlas" ajax="false" update="growl"
											class="btn btn-primary" />
									</div>
									<div class="col">
										<p:commandButton value="Delete" action="#{event.deleteEvent}"
											icon="fa fa-skyatlas" ajax="false" update="growl"
											class="btn btn-secondary" />
									</div>
								</c:if>
							</div>

						</div>
					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>