<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Events</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
	</h:head>
	<f:metadata>
		<f:viewAction action="#{eventlist.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:form>
					<h2>Events</h2>
					<p:toolbar>
						<f:facet name="right">
							<p:inputText id="keyword" value="#{eventlist.searchString}">
								<p:watermark for="keyword" value="Search by event name/year" />
							</p:inputText>
							<p:commandButton action="#{eventlist.doSearch}" value="Search"
								icon="pi pi-check" ajax="true" update="dataTable" />
							<p:commandButton value="PDF" styleClass="p-mr-2 p-mb-2"
								ajax="false">
								<p:dataExporter type="pdf" target="dataTable" fileName="Events"
									preProcessor="#{eventlist.preProcessPDF}" />
							</p:commandButton>
						</f:facet>
					</p:toolbar>
					<div class="card">
						<p:dataTable var="it" value="#{eventlist.data}" id="dataTable">

							<p:column headerText="Event Name">
								<p:link outcome="event" value="#{it.eventName}">
									<f:param name="eventid" value="#{it.id}" />
								</p:link>
							</p:column>

							<p:column headerText="Club">
								<h:outputText value="#{it.club.clubName}" />
							</p:column>

							<p:column headerText="Details">
								<h:outputText value="#{it.description}" />
							</p:column>

							<p:column headerText="Date">
								<h:outputText value="#{it.eventDate}">
									<f:convertDateTime pattern="dd-MM-yyyy h:mm a" timeZone="IST" />
								</h:outputText>
							</p:column>

							<p:column headerText="Venue">
								<h:outputText value="#{it.venue}" />
							</p:column>
							
							<p:column headerText="Status">
								<h:outputText value="#{it.status}" />
							</p:column>

							<p:column headerText="Print report">
								<p:commandButton action="#{eventlist.printReport(it)}" value="Print"
									ajax="true" />
							</p:column>

						</p:dataTable>

					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>