<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<p:toolbar style="background-color:cadetblue;">
	<f:facet name="left">
		<h:outputLabel>#{home.fullname}</h:outputLabel>
	</f:facet>
	<f:facet name="right">
		<p:button href="/" value="Logout" />
	</f:facet>
</p:toolbar>
</html>