<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Homepage</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
	</h:head>
	<f:metadata>
		<f:viewAction action="#{home.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<!-- <p:outputPanel id="outputPanel">
					<ui:include src="#{menu.pageUrl}" />
				</p:outputPanel> -->
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>