<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Login</title>
		<link href="./css/login.css" rel="stylesheet" type="text/css" />
	</h:head>
	<h:body>
		<p:growl id="growl" showDetail="true" sticky="true" />
		<h:form id="productForm">

			<p:panel
				style="height:100vh;position:relative;background-image: url('../imgs/login.jpg')"
				id="loginPnl">
				<div class="centered">
					<div class="component-spacing-top" />
					<div class="row">
						<div class="col-12">
							<h4>Welcome to MES Clubs. Please login to continue.</h4>
						</div>
						<div class="col-12">
							<label for="firstname">Username</label>
							<div>
								<p:inputText id="username" type="text" value="#{login.username}" />
							</div>
						</div>
						<div class="col-12">
							<label for="lastname">Password</label>
							<div>
								<p:inputText id="password" type="password"
									value="#{login.password}" />
							</div>
						</div>
						<div style="padding-bottom: 10px;" />
						<div class="row">
							<div class="col-6">
								<p:commandButton value="Login"
									action="#{login.checkValidUserByEmail}" icon="fa fa-skyatlas"
									ajax="false" update="growl" />
							</div>
							<div class="col-6">
								<p:commandButton value="Registration"
									action="#{login.goToRegistration}" icon="fa fa-skyatlas"
									ajax="false" update="growl" />
							</div>
						</div>
					</div>
					<div class="component-spacing-top" />
				</div>
			</p:panel>

		</h:form>
	</h:body>
</f:view>
</html>