<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:form style="height:100%;">
	<p:menu style="height:96%;background-color:skyblue;">

		<c:if test="#{home.role == 'ADMIN'}">
			<p:submenu label="Users">
				<p:menuitem value="View Users"
					actionListener="#{menu.changePage(1)}"></p:menuitem>

				<p:menuitem value="Add New User"
					url="/user?userid=0&amp;createRole=null&amp;view=na"></p:menuitem>
			</p:submenu>
		</c:if>

		<c:if test="#{home.role == 'LEADER'}">
			<p:submenu label="Members">
				<p:menuitem value="View Members" url="/users?createrole=member"></p:menuitem>
				<p:menuitem value="Add Member"
					url="/user?userid=0&amp;createrole=member"></p:menuitem>
			</p:submenu>
		</c:if>

		<c:if
			test="#{home.role == 'LEADER' || home.role =='ADMIN' || home.role =='MEMBER' || home.role =='STAFF'
			|| home.role =='PARENT'}">
			<p:submenu label="Clubs">
				<c:if
					test="#{home.role == 'LEADER' || home.role =='ADMIN' || home.role =='STAFF' || home.role =='PARENT'}">
					<p:menuitem value="View Clubs" url="/clubs"></p:menuitem>
				</c:if>
				<c:if test="#{home.role == 'LEADER' || home.role =='ADMIN'}">
					<p:menuitem value="Create New Club" url="/club?clubid=0"></p:menuitem>
				</c:if>
				<c:if test="#{home.role =='MEMBER'}">
					<p:menuitem value="My Clubs" url="/myclubs"></p:menuitem>
				</c:if>
			</p:submenu>
		</c:if>

		<p:submenu label="Events">
			<p:menuitem value="View Events" url="/events"></p:menuitem>
			<c:if test="#{home.role == 'LEADER'}">
				<p:menuitem value="Create New Event" url="/event?eventid=0"></p:menuitem>
			</c:if>
		</p:submenu>

		<c:if test="#{home.role == 'STAFF' || home.role =='PRINCIPAL'}">
			<p:submenu label="Attendance">
				<p:menuitem value="Mark Attendance" url="/attendances"></p:menuitem>
			</p:submenu>
		</c:if>

		<p:submenu label="Settings">
			<p:menuitem value="My Profile"
				url="/user?userid=#{home.userId}&amp;view=myprof"></p:menuitem>
		</p:submenu>

	</p:menu>
</h:form>
</html>