<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>My Clubs</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<script src="./js/bootstrap.min.js"></script>
	</h:head>
	<f:metadata>
		<f:viewAction action="#{myclubs.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:growl id="growl" showDetail="true" sticky="true" />
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h2>My Clubs</h2>
				<h:form id="clubForm">
					<div class="row" id="dataTables">

						<div class="col-12">
							<p:panel header="Non member clubs">
								<p:dataTable var="it" value="#{myclubs.clubs}">

									<p:column headerText="Club Name">
										<h:outputText value="#{it.clubName}" />
									</p:column>

									<p:column headerText="">
										<p:commandButton value="Become a member"
											action="#{myclubs.becomeMember(it.id)}" update="growl" />
									</p:column>
								</p:dataTable>
							</p:panel>
						</div>

						<div class="col-12">
							<p:panel header="My Clubs">
								<p:dataTable var="it" value="#{myclubs.memberclubs}">

									<p:column headerText="Club Name">
										<h:outputText value="#{it.club.clubName}" />
									</p:column>

									<p:column headerText="">
										<p:commandButton value="Leave Membership"
											action="#{myclubs.leaveMembership(it)}" update="growl" />
									</p:column>
								</p:dataTable>
							</p:panel>
						</div>

					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>