<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Registration</title>
		<style>
.centered {
	position: absolute;
	height: 100px;
	top: -10px;
	bottom: 100px;
	margin: auto;
	left: 450px;
	width: 400px;
}
</style>
	</h:head>
	<h:body>
		<p:growl id="growl" showDetail="true" sticky="true" />
		<h:form id="registrationForm">

			<p:panel
				style="height:100vh;position:relative;background-image: url('../imgs/login.jpg')"
				id="loginPnl">
				<div class="">
					<div class="component-spacing-top" />
					<div class="row">
						<div class="col-12">
							<h4>Registration</h4>
						</div>
						<div class="col-12">
							<label for="fullname">Full Name</label>
							<div>
								<p:inputText id="fullname" type="text"
									value="#{registration.fullname}" required="true" />
							</div>
						</div>
						<div class="col-12">
							<label for="email">Email</label>
							<div>
								<p:inputText id="email" type="text"
									value="#{registration.email}"
									validatorMessage="Incorrect e-mail" required="true">
									<f:validateRegex
										pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
								</p:inputText>
							</div>
						</div>
						<div class="col-12">
							<label for="contact">Contact</label>
							<div>
								<p:inputText id="contact" type="text"
									value="#{registration.contact}" maxlength="10"
									validatorMessage="Incorrect contact" required="true">
									<f:validateRegex pattern="\d*(.\d+)?" />
									<f:validateLength minimum="10"></f:validateLength>
								</p:inputText>
							</div>
						</div>

						<div class="col-12">
							<p:outputLabel for="department" value="Department" />
							<div>
								<p:inputText id="department" value="#{registration.department}" />
							</div>
						</div>

						<div class="col-12">
							<label for="username">Username</label>
							<div>
								<p:inputText id="username" value="#{registration.username}"
									required="true" />
							</div>
						</div>

						<div class="col-12">
							<p:outputLabel for="password" value="Password" />
							<div>
								<p:inputText id="password" value="#{registration.password}"
									required="true" type="password" />
							</div>
						</div>

						<div class="col-12">
							<p:outputLabel for="confirmpassword" value="Confirm Password" />
							<div>
								<p:inputText id="confirmpassword"
									value="#{registration.confirmpassword}" required="true"
									type="password" />
							</div>
						</div>

						<div class="col-12">
							<p:outputLabel for="dateOfAdmission" value="Admission Date" />
							<div>
								<p:datePicker id="dateOfAdmission"
									value="#{registration.dateofadmission}" required="true" />
							</div>
						</div>

						<div class="col-12">
							<p:outputLabel for="rollNo" value="Roll No" />
							<div>
								<p:inputText id="rollNo" value="#{registration.rollno}"
									required="true">
									<f:validateLength minimum="6"></f:validateLength>
								</p:inputText>
							</div>
						</div>

						<div class="col-12">
							<p:outputLabel for="program" value="Program" />
							<div>
								<p:inputText id="program" value="#{registration.program}" />
							</div>
						</div>

						<div class="col-12">
							<p:outputLabel for="parentname" value="Parent Name" />
							<div>
								<p:inputText id="parentname" value="#{registration.parentname}"
									required="true" />
							</div>
						</div>

						<div class="col-12">
							<label for="parentemail">Parent Email</label>
							<div>
								<p:inputText id="parentemail" type="text"
									value="#{registration.parentemail}"
									validatorMessage="Incorrect e-mail" required="true">
									<f:validateRegex
										pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
								</p:inputText>
							</div>
						</div>

						<div style="padding-bottom: 10px;" />
						<div class="col-12">
							<p:commandButton value="Register"
								action="#{registration.doRegister}" icon="fa fa-skyatlas"
								ajax="false" update="growl" />
						</div>
					</div>
					<div class="component-spacing-top" />
				</div>
			</p:panel>

		</h:form>
	</h:body>
</f:view>
</html>