<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Users</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
	</h:head>
	<f:metadata>
		<f:viewAction action="#{userlist.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:form>
					<h2>Users</h2>
					<p:toolbar>
						<f:facet name="right">
							<p:inputText value="#{userlist.searchString}" />
							<p:commandButton action="#{userlist.searchUser}"
								icon="pi pi-check" ajax="true" update="userTable" />
						</f:facet>
					</p:toolbar>
					<div class="card">
						<p:dataTable var="it" value="#{userlist.users}" id="userTable">
							<p:column headerText="Name">
								<ng-template let-row="it" pTemplate="body"> <a
									href="/user?userid=#{it.id}">#{it.fullname}</a> </ng-template>
							</p:column>

							<p:column headerText="Email">
								<h:outputText value="#{it.email}" />
							</p:column>

							<p:column headerText="Department">
								<h:outputText value="#{it.department}" />
							</p:column>

							<p:column headerText="Program">
								<h:outputText value="#{it.program}" />
							</p:column>

							<p:column headerText="User Type">
								<h:outputText value="#{it.role}" />
							</p:column>

							<p:column headerText="Active">
								<h:outputText value="#{it.status}" />
							</p:column>

						</p:dataTable>
					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>