<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>User</title>
		<link href="./css/home.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<script src="./js/bootstrap.min.js"></script>
	</h:head>
	<f:metadata>
		<f:viewParam name="userid" value="#{user.userId}" />
		<f:viewParam name="createrole" value="#{user.createRole}" />
		<f:viewParam name="view" value="#{user.view}" />
		<f:viewAction action="#{user.onPageLoad}" />
	</f:metadata>
	<h:body styleClass="main-body layout-compact">
		<p:growl id="growl" showDetail="true" sticky="true" />
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h2>
					<c:if test="#{user.userId != 0}">Edit</c:if>
					<c:if test="#{user.userId == 0}">Add</c:if>
					User
				</h2>
				<h:form id="userForm">
					<div>
						<div class="ui-fluid p-formgrid p-grid">

							<p:panel>

								<div class="row">
									<c:if
										test="#{user.createRole == null &amp;&amp; user.view!='myprof'}">
										<div class="col">
											<p:outputLabel for="role" value="User Type" />
											<p:selectOneMenu id="role" value="#{user.u.role}"
												required="true">
												<f:selectItem itemLabel="Select One" itemValue="#{null}"
													noSelectionOption="true" />
												<f:selectItem itemLabel="Admin" itemValue="ADMIN" />
												<f:selectItem itemLabel="Staff" itemValue="STAFF" />
												<f:selectItem itemLabel="Principal" itemValue="PRINCIPAL" />
												<f:selectItem itemLabel="Leader" itemValue="LEADER" />
												<f:selectItem itemLabel="Member" itemValue="MEMBER" />
												<f:selectItem itemLabel="Parent" itemValue="PARENT" />
												<p:ajax update="@form" event="change"
													listener="#{user.roleChange}" />
											</p:selectOneMenu>
										</div>
									</c:if>

									<div class="col">
										<p:outputLabel for="name" value="Name" />
										<p:inputText id="name" value="#{user.u.fullname}"
											required="true" />
									</div>
								</div>

								<div class="row">
									<div id="departmentSel">
										<c:if test="#{user.u.role != 'PRINCIPAL'}">
											<div class="col">
												<p:outputLabel for="department" value="Department" />
												<p:inputText id="department" value="#{user.u.department}" />
											</div>
										</c:if>
									</div>

									<div class="col">
										<p:outputLabel for="email" value="Email" />
										<p:inputText id="email" value="#{user.u.email}"
											required="true" validatorMessage="Incorrect e-mail">
											<f:validateRegex
												pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
										</p:inputText>
									</div>
								</div>

								<div class="row">
									<div class="col-6">
										<p:outputLabel for="contact" value="Contact" />
										<p:inputText id="contact" value="#{user.u.contactno}"
											maxlength="10" validatorMessage="Incorrect contact">
											<f:validateRegex pattern="\d*(.\d+)?" />
											<f:validateLength minimum="10"></f:validateLength>
										</p:inputText>
									</div>
								</div>

								<div class="row">
									<div class="col">
										<p:outputLabel for="username" value="Username" />
										<p:inputText id="username" value="#{user.u.username}"
											required="true" />
									</div>

									<div class="col">
										<p:outputLabel for="password" value="Password" />
										<p:inputText id="password" value="#{user.u.password}"
											required="true" />
									</div>
								</div>


								<div class="row">
									<c:if
										test="#{user.u.role == 'LEADER' || user.u.role == 'MEMBER'}">

										<div class="col">
											<p:outputLabel for="dateOfAdmission" value="Admission Date" />
											<p:datePicker id="dateOfAdmission"
												value="#{user.u.dateofadmission}" required="true" />
										</div>

										<div class="col">
											<p:outputLabel for="rollNo" value="Roll No" />
											<p:inputText id="rollNo" value="#{user.u.rollno}"
												required="true">
												<f:validateLength minimum="6"></f:validateLength>
											</p:inputText>
										</div>

										<div class="col">
											<p:outputLabel for="program" value="Program" />
											<p:inputText id="program" value="#{user.u.program}" />
										</div>
									</c:if>
								</div>

							</p:panel>

							<div class="row">
								<div class="col">
									<p:commandButton value="Save" action="#{user.saveUser}"
										icon="fa fa-skyatlas" ajax="false" update="growl"
										class="btn btn-primary" />
								</div>
								<div class="col">
									<p:commandButton value="Delete" action="#{user.deleteUser}"
										icon="fa fa-skyatlas" ajax="false" update="growl"
										class="btn btn-secondary" />
								</div>
							</div>
						</div>
					</div>
				</h:form>
			</p:layoutUnit>
		</p:layout>

	</h:body>
</f:view>
</html>